<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Payoneer ATM calculator</title>

	<link href='http://fonts.googleapis.com/css?family=PT+Serif&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" type="text/css" href="ng-quick-date.css">
	<link rel="stylesheet" type="text/css" href="ng-quick-date-default-theme.css">

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="ng-quick-date.min.js"></script>
	<script src="calc.js"></script>
</head>
<body data-ng-app="main" data-ng-controller="calc">

<div class="cont center-text">
	<div class="pad large-text colored">
		I have 
		<input type="number"
			data-ng-model="usd"
			data-ng-change="calcUAH()"
			data-ng-disabled="idle"
			step="0.1"
			class="big-input">
		 USD
	</div>
	<div class="pad large-text colored--2">
		I'll receive 
		<input type="number"
			data-ng-model="uah"
			data-ng-change="calcUSD()"
			data-ng-disabled="idle"
			step="0.1"
			class="big-input">
		 UAH	
	</div>
</div>
<div class="cont" data-ng-show="message_show">
	<div class="medium-text center-text pad--big"
		data-ng-class="{'colored--message': !error, 'colored--error': error}">
		{{ message }}
	</div>
</div>
<div class="cont medium-text">
	<div class="">
		Mastercard exchange rate (USD/UAH) 
		<input type="number"
			data-ng-model="rate"
			data-ng-change="calcUAH()"
			data-ng-disabled="idle"
			step="0.1"
			class="medium-input">
		 for date 
		<quick-datepicker
			data-ng-model='date'
			data-date-format="d MMM yyyy"
			data-placeholder="Choose a date"
			data-disable-timepicker="true"
			data-disable-clear-button="true"
			data-ng-change="changeDate()"
		></quick-datepicker>
	</div>
	<a href="#" data-ng-click="updateRate()">update rate</a>
</div>

</body>
</html>