<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Payoneer калькулятор для банкомата</title>

	<link href='http://fonts.googleapis.com/css?family=PT+Serif&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="styles.css">

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="http://code.angularjs.org/1.2.16/angular-animate.min.js"></script>
	<script src="calc.js"></script>
</head>
<body data-ng-app="main" data-ng-controller="calc">

<div class="cont center-text">
	<div class="pad large-text colored">
		У меня есть 
		<input type="number"
			data-ng-model="usd"
			data-ng-change="calcUAH()"
			data-ng-disabled="idle"
			step="0.1"
			class="big-input">
		 долларов
	</div>
	<div class="pad large-text colored--2">
		Я хочу получить 
		<input type="number"
			data-ng-model="uah"
			data-ng-change="calcUSD()"
			data-ng-disabled="idle"
			step="0.1"
			class="big-input">
		 гривен	
	</div>
</div>
<div class="cont" data-ng-show="message_show">
	<div class="medium-text center-text pad--big"
		data-ng-class="{'colored--message': !error, 'colored--error': error}">
		{{ message }}
	</div>
</div>
<div class="cont">
	<div class="medium-text pad">
		Курс Mastercard (USD/UAH) 
		<input type="number"
			data-ng-model="rate"
			data-ng-change="calcUAH()"
			data-ng-disabled="idle"
			step="0.1"
			class="medium-input">
		 для даты {{ date }}
		<a href="#" data-ng-click="updateRate()">обновить</a>
	</div>
</div>

</body>
</html>