* {
	font-family: 'PT Serif', serif;
}

html,
body {
	font-size: 16px;
	background-color: #d6d6d6;
	margin: 0;
	padding: 0;
}

input {
	font-size: 0.7em;
	border: none;
	outline: none;
	margin: 0;
	-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
input:disabled {
	background-color: #b6b6b6;
	-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.cont.ng-hide {
	-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;

	opacity: 0;
	line-height: 0;
	padding: 0;
}
.cont.ng-hide .pad--big	{
	padding: 0;
}
.cont {
	padding: 1em;

	-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;

    display: block !important;
    opacity: 1;
}
.center-text {
	text-align: center;
}

.pad {
	padding: 0.5em;
}
.pad--big {
	padding: 1.5em;
}

.large-text {
	font-size: 2.5em;
}
.medium-text {
	font-size: 1.5em;
}

.big-input {
	width: 4.5em;
	padding: 0.2em;
}
.medium-input {
	width: 3.5em;
	padding: 0.2em;
}

.colored {
	background-color: #307ec7;
}
.colored--2 {
	background-color: #48c430;
}
.colored--message {
	background-color: #b6b6b6;

	-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.colored--error {
	background-color: #ff3a3a;

	-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}